@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
  height: 2000px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.8rem;
  color: #333;
  word-break: break-all;
  white-space: nowrap;
}
/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: bisque; */
}
/* min */
/* top menu */
.header {
  position: fixed;
  width: 100%;
  height: auto;
  margin-top: 10px;
  z-index: 99;
}
.header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28%;
  max-width: 1560px;
}
.logo {
  width: 15%;
  height: 60px;
  background-color: #fff;
  border-radius: 35px;
  text-align: center;
  line-height: 60px;
}
.menu-right {
  display: flex;
  justify-content: center;
  gap: 30%;
  width: 80%;
  z-index: 99;
}
.top-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25%;
  width: 700px;
  height: 60px;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 70px;
  background-color: #fff;
  border-radius: 35px;
  z-index: 3;
}
.top-menu > li {
  position: relative;
}
.top-menu > li.active::after {
  opacity: 1;
  visibility: visible;
}
.top-menu > li.active > a {
  color: #fff;
}
.top-menu > li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  height: 55px;
  background-color: #333;
  border-radius: 55px;
  padding: 0 35px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.map-icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 3px;
}
.lang {
  position: absolute;
  right: 0;
}
.lang > li{
  position: relative;
  width: 90px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-radius: 35px;
  text-align: center;
  margin-bottom: 5px;
}
.lang > li > .lang-more::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 0.8rem;
  height: 0.7rem;
  background: url("../images/Polygon4.png") no-repeat center / cover;
}
/* main img slide */
.main-img-area {
  position: relative;
  display: block;
  width: 100%;
  height: 82vh;
  min-height: 796px;
  margin-top: 10px;
}
.main-img-area .inner {
  width: 100%;
  height: 100%;
  max-width: 1640px;
}
.main-img-slide {
  width: 100%;
  height: 100%;
}
.main-img-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ran */
/* 쇼츠섹션 */

/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* hun */
/* 모달창 */
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}
.modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}
.modal-notice {
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 25px;
  color: #333;
}
.modal-notice h2{
  font-size: 18px;
  font-weight: 700;
}
.span-md_1{
  background-color: #a3c100;
  color: #fff;
}
.span-md_2{
  color: #a3c100;
}
.modal-img {
  background: url("../images/modal-img.png") no-repeat center;
  background-size: cover;
  width: 250px;
  height: 147px;
  margin: 20px auto;
  
}
.modal-bt {
  width: 268px;
  height: 52px;
  background-color: #a3c100;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.modal-bt a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.modal-close{
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 70px;
  position: absolute;
  bottom: 0;
}
.modal-close li{
  width: 200px;
  font-weight: bold;
  cursor: pointer;
}
.modal-close li:nth-child(2){
  border-left: 1px solid #d9d9d9;
}
footer {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: #666666;
  position: relative;
}
.ft_inner {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
}
.ft_inner .ft-top {
  width: 100%;
  max-width: 1200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40px;
}
.ft-top .ft_left {
  display: flex;
  width: 300px;
  height: 40px;
  height: auto;
  justify-content: space-between;
}
.logo_tg img {
  width: 110px;
  height: 20px;
}
.logo_lg img {
  width: 110px;
  height: 20px;
}
.ft-top .ft_right {
  display: flex;
  height: 40px;
  gap: 30px;
  justify-content: space-between;
}
.ft_info {
  width: auto;
  position: absolute;
  top: 110px;
}
.ft_info h2 {
  font-size: 16px;
  font-weight: 500;
  color: #bababa;
  line-height: 20px;
  margin-bottom: 50px;
}
.ft_info p {
  font-size: 16px;
  font-weight: 500;
  color: #bababa;
}
.ft_info_430{
  display: none;
  width: 100%;
  position: absolute;
  top: 200px;
  text-align: center;
  margin: 0 auto;
}
.ft_info_430 h2 {
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 500;
  color: #bababa;
  margin-bottom: 30px;
}
.ft_info_430 p {
  font-size: 3.5vw;
  font-weight: 500;
  color: #bababa;
}
