@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
  height: 2000px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.8rem;
  color: #333;
  word-break: break-all;
  white-space: nowrap;
}
/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: bisque; */
}
/* min */
/* top menu */
.header {
  position: fixed;
  width: 100%;
  height: auto;
  margin-top: 10px;
  z-index: 99;
}
.header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28%;
  max-width: 1560px;
}
.logo {
  width: 15%;
  height: 60px;
  background-color: #fff;
  border-radius: 35px;
  text-align: center;
  line-height: 60px;
}
.menu-right {
  display: flex;
  justify-content: center;
  gap: 30%;
  width: 80%;
  z-index: 99;
}
.top-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25%;
  width: 700px;
  height: 60px;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 70px;
  background-color: #fff;
  border-radius: 35px;
  z-index: 3;
}
.top-menu > li {
  position: relative;
}
.top-menu > li.active::after {
  opacity: 1;
  visibility: visible;
}
.top-menu > li.active > a {
  color: #fff;
}
.top-menu > li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  height: 55px;
  background-color: #333;
  border-radius: 55px;
  padding: 0 35px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.map-icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 3px;
}
.lang {
  position: absolute;
  right: 0;
}
.lang > li{
  position: relative;
  width: 90px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-radius: 35px;
  text-align: center;
  margin-bottom: 5px;
}
.lang > li > .lang-more::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 0.8rem;
  height: 0.7rem;
  background: url("../images/Polygon4.png") no-repeat center / cover;
}
/* main img slide */
.main-img-area {
  position: relative;
  display: block;
  width: 100%;
  height: 82vh;
  min-height: 796px;
  margin-top: 10px;
}
.main-img-area .inner {
  width: 100%;
  height: 100%;
  max-width: 1640px;
}
.main-img-slide {
  width: 100%;
  height: 100%;
}
.main-img-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ran */
/* hun */
